### Import Libraries

In [3]:
import pandas as pd

### Create Example Dataframe

In [5]:
df = pd.DataFrame({'Score': ['Low:2', 
                             'Low:6', 
                             'Medium:32', 
                             'Medium:1', 
                             'High:098']})
#view dataframe
df

       Score
0      Low:2
1      Low:6
2  Medium:32
3   Medium:1
4   High:098

### Input Parameters

In [7]:
# The thing you want to split the column on
SplitOn = ':'

# Name of Column you want to split
Split_Col = 'Score'

# Column Labels (you can add more if you will have more)
Col_1_Label = 'Level'
Col_2_Label = 'Measurement'

### Code To Run (Will need to Modify for More Columns

In [8]:
newz = df[Split_Col].str.split(pat=SplitOn, n=-1, expand=True)

# Add more columns if you have more (modi)
df[Col_1_Label] = newz[0]
df[Col_2_Label] = newz[1]

# View Dataframe
df

       Score   Level Measurement
0      Low:2     Low           2
1      Low:6     Low           6
2  Medium:32  Medium          32
3   Medium:1  Medium           1
4   High:098    High         098